.menu-container {
  background: var(--lighter-green);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu--info-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3em;
  width: 80%;
}

.menu--feedback-section {
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 2em 0;
  width: 80%;
  padding: 1em;

  display: flex;
  align-items: center;
}

.menu--feedback-indicator {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-right: 1em;
  flex-shrink: 0;
}

.menu--logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 3em;
  padding: 1em;

  text-align: center;
}

.menu--logo {
  max-width: 80%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .menu-container {
    order: -1;
    justify-content: center;
    height: fit-content;
    margin-bottom: 1em;
  }

  .menu--info-container {
    width: 100%;
    margin-top: 0;
  }

  .menu--feedback-section {
    margin: 1em 0;
  }

  .menu--logo-container {
    order: -1;
    width: 80%;
    padding: 0;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .menu--logo {
    width: 100%;
  }

  .menu--logo-slogan {
    position: relative;
    bottom: 20px;
  }
}
