.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 2em;
}

.question--content-container {
  background: var(--light-green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  height: fit-content;
  width: 80%;
  padding: 2em;
}

.question--header-img,
.question--text-img {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-green);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-green);
}

.question--answer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}

.question--answer-question {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1em;
}

.question--answer-button {
  width: 35%;
  color: var(--white);
  stroke: none;
  background: var(--dark-green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

  padding: 0.5em;
  margin-top: 2em;
}

.question--answer-button:hover {
  background: var(--darker-green);
}

.question--answer-button:active {
  scale: 0.9;
}

.question--end-button {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .question-container {
    height: 90vh;
    padding: 0;
  }

  .question-counter {
    font-size: 1rem;
  }

  .question--content-container {
    padding: 1em;
    width: 90%;
    height: auto;
  }

  .question--content {
    height: 100%;
    padding: 0.5em;
  }

  .question--header-image {
    width: 20%;
  }

  .question--title {
    font-size: 1rem;
  }

  .question--source {
    font-size: 0.8rem;
  }

  .question--content-text {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 1em;
  }

  .question--answer-question {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }

  .question--answer-button {
    width: 60%;
    margin-top: 1em;
    line-height: 1.4rem;
    margin-bottom: 2em;
  }

  .question--end-button {
    width: 100%;
  }
}
