.question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2em;
  height: 100vh;
}

.question--content-container {
  background: var(--light-green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3%;

  height: 60%;
  width: auto;
  max-width: 1000px;
  max-height: 900px;

  padding: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 3em;
  overflow: hidden;
}

.question--header-img,
.question--text-img {
  width: 100%;
}

.question--content {
  background: #ffffff;
  border-radius: 3%;
  max-height: 100%;

  padding: 1em;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.question--header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question--header-image {
  width: 12%;
  height: auto;
  margin-right: 20px;
}

.question--title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

.question--source {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  /* identical to box height */

  color: #7b7b7b;
}

.question--content-text {
  font-family: "Questrial";
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 0.05rem;

  margin-top: 2em;
}

.question--answer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 2em;
}

.question--answer-question {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1em;
}

.question--answer-button {
  width: 35%;
  color: var(--white);
  stroke: none;
  background: var(--dark-green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

  padding: 0.5em;
  margin-top: 2em;
}

.question--answer-button:hover {
  background: var(--darker-green);
}

.question--answer-button:active {
  scale: 0.9;
}

.question--end-button {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .question-container {
    margin: 2em 0.5em;
    height: 70vh;
    margin-top: 3em;
  }

  .question--content-container {
    height: 60%;
    padding: 1em;
  }

  .question--content {
    height: 100%;
    padding: 0.5em;
  }

  .question--header-image {
    width: 20%;
  }

  .question--title {
    font-size: 1rem;
  }

  .question--source {
    font-size: 0.8rem;
  }

  .question--content-text {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 1em;
  }

  .question--answer-question {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }

  .question--answer-button {
    width: 50%;
    margin-top: 1em;
    line-height: 1.4rem;
  }

  .question--end-button {
    width: 100%;
  }
}
