:root {
  --lighter-green: rgba(171, 245, 211, 0.25);
  --light-green: rgba(171, 245, 211, 0.56);
  --dark-green: #90dea4;
  --darker-green: #194e51;
  --white: #ffffff;
  --gray: #7b7b7b;
  --light-gray: #f5f5f5;
  --black: black;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  color: black;
}

button {
  cursor: pointer;
  transition-duration: 0.5s;
}

button:active {
  scale: 0.9;
}
