:root {
  --lighter-green: rgba(171, 245, 211, 0.25);
  --light-green: rgba(171, 245, 211, 0.56);
  --dark-green: #90dea4;
  --darker-green: #1f9b3e;
  --white: #ffffff;
  --gray: #7b7b7b;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  color: black;
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.question {
  grid-column-start: 1;
  grid-column-end: 4;
}

.menu {
  grid-column-start: 4;
  grid-column-end: 5;
}

.bold {
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
